@page "/blog/create"
@using System.Net.Mime
@using System.Text

<PageTitle>Blog Create</PageTitle>
<h2>Blog Create Form</h2>

<div class="row">
    <div class="col-6 offset-3">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="blogTitle" placeholder="Blog Title" @bind-value="_blog.BlogTitle">
            <label for="blogTitle">Blog Title</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="blogAuthor" placeholder="Blog Author" @bind-value="_blog.BlogAuthor">
            <label for="blogAuthor">Blog Author</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="blogContent" placeholder="Blog Content" @bind-value="_blog.BlogContent">
            <label for="blogContent">Blog Content</label>
        </div>
        <a href="/blog" class="btn btn-outline-dark">Back</a>
        <button type="button" class="btn btn-success" @onclick="Save">Create Blog</button>
    </div>
</div>

@code {
    private BlogModel _blog = new BlogModel();

    private async Task Save()
    {
        var jsonBlog = JsonConvert.SerializeObject(_blog);
        var content = new StringContent(jsonBlog, Encoding.UTF8, MediaTypeNames.Application.Json);
        var response = await httpClient.PostAsync("api/Blog", content);

        if (response.IsSuccessStatusCode)
        {
            var jsonStr = await response.Content.ReadAsStringAsync();
            Console.WriteLine(jsonStr);
            nav.NavigateTo("/blog");
        }
    }
}